NODE_ENV=dev or test or prod
PORT=3000

DB_HOST=
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_SSL=false
DB_DATABASE=

FRONTEND_URL=http://localhost:5173

ECR_REGISTRY=
ECR_REPOSITORY=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_SIGNUP_SECRET=

KAKAO_REST_API_KEY=
KAKAO_CLIENT_SECRET=
KAKAO_REDIRECT_URI=http://localhost:5173/api/auth/kakao/callback

DEV_LOGIN_ENABLED=false

AWS_REGION=ap-northeast-2
AWS_S3_BUCKET=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

GEMINI_API_KEY=
GEMINI_MODEL=

S3_KEY_PREFIX=anything